<section
  id="about"
  class="mx-auto flex max-w-[20rem] intersection flex-col items-center gap-11 pt-40 lg:max-w-full"
>
  <h1 data-name="about" class="text-3xl lg:text-4xl">About</h1>

  <div
    class="flex flex-col items-center justify-center gap-11 lg:flex-row lg:gap-8 lg:pt-16"
  >
    <img class="h-28 w-28 rounded-sm lg:hidden" src="/assets/izumi.webp" />
    <div class="self-start lg:order-2 lg:max-w-[24.5rem] lg:text-lg">
      <p>
        I’m a self-taught web developer and math tutor from Argentina. I read
        <span class="italic"> The C Programming Language</span> by K&R while working
        through
        <span class="whitespace-nowrap">
          <a
            title="CS50 website"
            href="https://cs50.harvard.edu/college/2022/spring/"
            target="_blank"
          >
            <span class="text-secondary">CS50</span>
            <svg
              class="fill-secondary ml-[-5px] mr-[5px] inline-block h-2 w-2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <path
                d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"
              ></path>
            </svg>
          </a>
        </span>
        and that's when I got hooked on computer science.
      </p>
      <br />

      <p>
        <a
          title="FSO website"
          href="https://fullstackopen.com/en/about"
          target="_blank"
          ><span class="text-secondary">Full Stack Open</span>
          <svg
            class="fill-secondary ml-[-5px] mr-[5px] inline-block h-2 w-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"
            ></path>
          </svg>
        </a>by the University of Helsinki was my next step and the course that
        first got me into web development.
      </p>
      <br />

      <p>I'm into FOSS, linux and mathematics.</p>
      <br />
    </div>

    <div
      class="lg:order-1 lg:flex lg:w-96 lg:flex-col lg:items-center lg:gap-12"
    >
      <img
        class="hidden h-48 w-48 rounded-sm lg:block"
        src="/assets/izumi.webp"
      />
      <div class="-mt-8 flex flex-col justify-center lg:mt-0 lg:items-center">
        <h2 class="-ml-2 text-left lg:ml-0 lg:text-lg">Technologies I use:</h2>
        <ul
          class="font-titillium text-secondary mt-6 columns-3 gap-10 lg:ml-10"
        >
          <li>typescript</li>
          <li>react</li>
          <li>nextjs</li>
          <li>tailwindcss</li>
          <li>python</li>
          <li>sql</li>
          <li>mongodb</li>
          <li>git</li>
          <li>linux</li>
        </ul>
      </div>
    </div>
  </div>
</section>
