<header
  id="home"
  class="relative mx-auto flex intersection h-screen max-w-md flex-col items-center justify-center pt-14 lg:max-w-md"
>
  <div class="flex grow-[2] items-center justify-center">
    <h1 data-name="home" class="text-4xl lg:text-5xl">Samir Najul</h1>
  </div>

  <div
    class="flex max-w-[21rem] grow-[3] items-start justify-center pl-10 lg:max-w-[24rem] lg:text-lg"
  >
    <p>
      <span class="text-secondary">sam@sunday:~$</span> cat greetings<br />
      Hi there. Welcome to my webpage.
      <span class="flex max-w-fit items-center gap-2">
        <span class="text-secondary">sam@sunday:~$</span>
        <span class="bg-primary display: inline-block h-4 w-2.5 lg:h-5 lg:w-3"
        ></span>
      </span>
    </p>
  </div>
  <a
    title="go to projects"
    class="absolute right-5 top-[85vh]"
    href="#projects"
  >
    <svg
      class="fill-primary hover:fill-primary-hover h-8 w-8 lg:h-10 lg:w-10"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-17 1h4v-8h2v8h4l-5 6-5-6z"
      ></path>
    </svg>
  </a>
</header>
